body {
  padding: 0;
  margin: 0;
}

a {
  color: lightblue;
}

a:hover {
  color: blueviolet;
}

#aac {
  position: relative;
  height: 1000vh;
  background: #030005;
}

.aac {
  width: 100%;
  text-align: center;
  color: white;
}

.aac .aac-1 {
  position: relative;
  height: 90px;
}

.aac .aac-1 h1 {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 1800;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}


.aac .aac-1 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

a.button {
  display: inline-block;
  color: rgb(220, 213, 2);
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}

a.button-white {
  background-color: white;
}

a.button-blue {
  background-color: blue;
}

a.button-red {
  background-color: red;
}
