* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

a {
  color: lightblue;
}

a:hover {
  color: blueviolet;
}

#aac {
  position: relative;
  height: 100vh;
  background: #030005;
}

.aac {
  width: 100%;
  text-align: center;
  color: white;
}

.aac .aac-1 {
  position: relative;
  height: 180px;
}

.aac .aac-1 h1 {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: #030005;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px #8400ff, 1px 1px 0px #ff005a;
  letter-spacing: -20px;
}


.aac .aac-1 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px #8400ff;
  letter-spacing: 13px;
  margin: 0;
}

@media only screen and (max-width: 767px) {
    .aac .aac-1 h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 480px) {
  .aac .aac-1 h1 {
      font-size: 182px;
  }
}
a.button {
  display: inline-block;
  color: rgb(196, 190, 4);
  padding: 12px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 18px;
  line-height: 1;
  font-weight: 100;
}

a.button-white {
  background-color: white;
}

a.button-blue {
  background-color: blue;
}

a.button-red {
  background-color: red;
}